/******************************** PRÉSENTATION ********************************/


{
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    border: 4px inset #d2691e;
    background-color: #fff;
}

/******************************** TEXTE ********************************/

.centre{
    text-align: center;
}

.centrer{
    align-self: center;
}

.colonne-centree
{
    float: none;
    margin: 0 auto;
}

.listecentree{
    display: block;
    margin-left: auto;
    margin-right: auto
}


/******************************** RESPONSIVITÉ ********************************/

@media screen and (max-width: 992px) {
    .imageanthony { display: none }
    .titrecontact{ text-align: center }
}

@media screen and (max-width: 768px) {
    .titrecontact{ display: none }
}

@media screen and (max-width: 480px) {
    .moncv{ width: 360px }
}


.projet{ 
    width: 470px;
    height: 470px }


