/******************************** TEXTE ********************************/

.centre{
    text-align: center;
}

.centrer{
    align-items: center;
}

.colonne-centree
{
    float: none;
    margin: 0 auto;
}


/******************************** RESPONSIVITÉ ********************************/

@media screen and (max-width: 992px) {
    .imageanthony { display: none }
    .titrecontact{ text-align: center }
}

@media screen and (max-width: 768px) {
    .titrecontact{ display: none }
}

